{% extends 'base.html' %}
{% block content %}
<main class="boss-page">
    <h1>bosses em destaque</h1>
    <hr>
   <table>
        <tr>
            <th>Nome</th>
            <th>Localização</th>
            <th>Fraqueza</th>
            <th>Resistência</th>
        </tr>
        {% for boss in listaBosses %}
        <tr>
            <td>{{ boss.nome }}</td>
            <td>{{ boss.localizacao }}</td>
            <td>{{ boss.fraqueza }}</td>
            <td>{{ boss.resistencia }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{{url_for('home')}}">Voltar</a></p>
    
</main>
{% endblock content %}