{% extends 'base.html' %}
{% block content %}
<main class="formulario-page">
    <h1>Cadastro de Bosses</h1>
    <hr>

    <form action="{{url_for('formulario')}}" method="POST">
        <h4>Nome:</h4>
        <input type="text" name="nome" required>

        <h4>Localização:</h4>
        <input type="text" name="localizacao" required>

        <h4>Fraqueza:</h4>
        <input type="text" name="fraqueza" required>

        <h4>Resistência:</h4>
        <input type="text" name="resistencia" required>

        <br>
        <button type="submit">Cadastrar</button>
    </form>

    <p><a href="{{url_for('home')}}">Voltar</a></p>
</main>
{% endblock content %}